body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#map {
	width: 100vw;
	height: 100vh;
}

img {
	display: block;
}

.leaflet-bottom.leaflet-left .leaflet-control {
	background: transparent;
}

h1 {
	font-size: 1.4rem;
}

.overlay {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: white;
	padding: 0 20px 10px 20px;
	box-shadow: rgb(0 0 0 / 8%) 0px 4px 10px 0px;
	max-width: 400px;
	max-height: 100vh;
	z-index: 500;
	border-radius: 6px;
}
