body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#map {
	width: 100vw;
	height: 100vh;
}

img {
	display: block;
}

.leaflet-bottom.leaflet-left .leaflet-control {
	background: transparent;
}

h1 {
	font-size: 1.4rem;
	margin: 0;
	margin-bottom: 20px;
}

.overlay {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: white;
	padding: 20px 20px 10px 20px;
	box-shadow: rgb(0 0 0 / 8%) 0px 4px 10px 0px;
	min-width: 240px;
	max-height: 93vh;
	z-index: 500;
	border-radius: 6px;
	overflow-y: scroll;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			margin: 0;
		}
	}

	ul {
		padding: 0;
	}

	li {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 20px 0;
		border-top: 1px solid lightgrey;
	}
}

.close-button {
	display: grid;
	place-items: center;
	background: none;
	border: none;
	padding: 4px;
	cursor: pointer;
}
